.photo-popup__close {
  position: relative;
  align-self: flex-end;
  min-width: 32px;
  min-height: 32px;
  margin: 0;
  bottom: 16px;
  left: 40px;
  background-color: transparent;
  background-image: url(../../../images/cross-cancel.svg);
  border: none;
  padding: 0;
  cursor: pointer;
}

.photo-popup__close:hover {
  opacity: .6;
}

@media screen and (max-width: 767px) {
  .photo-popup__close {
    min-width: 20px;
    min-height: 20px;
    left: 0px;
    background-size: contain;
    }
  }