.profile__add-button {
  background-color: transparent;
  padding: 10px 62px;
  border: 2px white solid;
  border-radius: 2px;
  cursor: pointer;
  min-width: 22px;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}

@media screen and (max-width: 767px) {
  .profile__add-button {
    min-width: 282px;
  }
}